.Home{
  display: grid;
  place-items: center;
   padding-top: 0rem;
  }

.Home main{
  background-color: #fdecefcf;
  width: 100%;
}

.Homesubcontainer {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #fdecefcf;

}

.Homesubcontainer .Home-sub{
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr  1fr;
  width: 100%;
  max-width: 100rem;
  padding-bottom: 3rem;
  gap: 50px;
  padding-top: 10rem;
}


.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-section .content-container{
  display: flex;
  flex-direction: column;
  padding-left: 9rem;
}


h3{
  padding-bottom: 30px;
  font-size: 1.2em;
}

/* YourComponent.css */

.container {
position: relative;
}

.image-container {
position: relative;
display: inline-block;
padding-right: 8rem;
}

.image-container img{
  width: 100%;
  object-fit: cover;
  object-position: center; 
  transition: opacity 0.5s ease-in-out; /* You can adjust the duration and easing function */
  max-width: 100%; /* Ensures the image doesn't exceed the container width */
  max-height: 100%; /* Ensures the image doesn't exceed the container height */
  object-fit: cover; 
  background-color: rgb(152 103 177 / 14%);

}

.overlay-text {
position: absolute;
top: 39px;
left: 110px;
}


.bestseller-container{
position: absolute;
bottom: 6rem;
left: 90px;
}

/* YourComponent.css */

.bestseller-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstdiv {
  position: relative;
}



.stationary-bg {
  border-radius: 144px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  font-family: 'Playfair Display', sans-serif;
  flex-direction: column;
}

.stationary-text {
  font-size: 40px;
  font-weight: 200;
  color: red;
    font-family: 'Tangerine', cursive;
}


.content-container div span {
  font-family: 'Tangerine', cursive;
  font-size: 25px;
  color: #3D5A5B;
  font-weight: 700;
}

.content-container div h2 {
  font-family: 'Playfair Display', serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-bottom: 15px;
  font-size: 2.2em;
  font-weight: 800;
  width: 100%;
  letter-spacing: 0px;
}

  .description-para p{
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: none;  
    line-height: 1.7em;
    width: 100%;
    max-width: 500px;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


  .talk-to-sale button{
    background-color: purple;
    color: white;
    padding: 13px 30px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    border-width: 0;
    opacity: 0.9;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-family: 'Playfair Display', sans-serif;
  }

  .talk-to-sale button:active{
    background-color: #3D5A5B;
    opacity: 0.9;
    cursor: pointer;
  }

  .talk-to-sale button a{
    text-decoration: none;
    color: white;
    border: none;
  
  }

  

  .stationary-control{
    position: relative;
    top: 90px;
    left: -73px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    transition: filter 0.5s ease-in-out;
    animation: colorChange 8s infinite;
}

/* Adjust filter properties for contrast reduction */
.image-container img.low-contrast {
    filter: contrast(0.8) brightness(1.2);
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg) grayscale(100%);
  }
  50% {
    filter: grayscale(100%) hue-rotate(0deg);
  }
  75% {
    filter: hue-rotate(90deg) grayscale(100%);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
