/* Media query for a maximum width of 900px */
@media screen and (max-width: 990px) {
   
    .links{
        display: none;
    }
  

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100rem;
        transition: top 0.3s ease;
    }

        .cart {
            list-style: none;
            width: 0px;
            font-size: 17px;
            margin: 0;
        }


                .dropdown {
                    display: block;
                }
        
                .dropdown {
                    font-size: 19px;
                    list-style: none;
                    margin: 0;
                }

                .dropdown  img {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                }


                .dropdown li:active{
                    color: black;
                }

                
                                 }


    @media screen and (max-width: 800px) {
   
        .links{
            display: none;
        }
          .cart-container img {
              width: 24px;
              height: 24px;
          }
    
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 100rem;
            transition: top 0.3s ease;
        }
    }

        @media screen and (max-width: 500px) {
   
            .links{
                display: none;
            }
          
        
            .navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                max-width: 100rem;
                transition: top 0.3s ease;
            }

  }
  
  @media screen and (max-width: 400px) {
   
    .links{
        display: none;
    }
  

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 11px;
        padding-right: 11px;
        max-width: 100rem;
        transition: top 0.3s ease;
    }

   

    .logo h1{
        font-family: 'Sevillana', serif;
        font-weight: 700;
        letter-spacing: initial;
        font-size: 24px;
    }

    .dropdown button{
        background: none;
        border: none;
        vertical-align: inherit;
        cursor: pointer;
        font-size: 18px;
        }

        .cart {
            list-style: none;
            width: 0px;
            font-size: 18px;
          }
}
