.Advert{
    background-color: #fdecefcf;
    color: black;
    width: 100%;
    margin: auto;
    font-family: 'Merriweather', serif; /* Use Merriweather for the title */
    
}

.Advert div{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12px 12px;
  top: 0;
  z-index: 12;
  width: 100%;
  background-color: #fdecefcf;
  transition:  0.3s ease;

}

.Advert div span{
    letter-spacing: 3px;
    font-size: 10px;
    font-style: normal;
  color: rgba(0, 0, 0, 0.87);
}


