body {
    background-color: white;
     color: #000000d9;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: 'Playfair Display', serif;  Use Playfair Display for the title */
}

/* Hide the scrollbar for webkit-based browsers (e.g., Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-thumb {
    display: none;
}

body::-webkit-scrollbar-track {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


body::-webkit-scrollbar {
    display: none;
}

.overall-container {
    background-color: white;
}


.bodypaddingbottom {
    background-color: #fdecefcf;

}


.dropdownmenu-container {
    background-color: rgba(255, 255, 255, 0);
    z-index: 200;
    position: fixed;
    background-color: white;
    cursor: pointer;
    top: 0;
    left: 0;
    transition: disappear 2s ease-in-out;
    bottom: 0;
    right: 0;
}



.Carousel {
    background-position: center;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    max-width: 100rem;
}

.firstimage {
    background-position: center;
    background-image: url(../src/Home/Carousel.jpg);
    max-width: 100rem;
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;
    top: 58px;
}

.carouseltextcon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

.textcon {
    color: white;
}

.textcon .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textcon .text h2 {
    font-size: 2em;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    padding-top: 1.3rem;
    text-transform: capitalize;
}

.textcon .text p {
    font-size: 1.2em;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.7em;
    width: 100%;
    max-width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1.5rem;
    text-transform: capitalize;
}

.textcon div {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.textcon div button {
    background-color: purple;
    color: white;
    padding: 13px 30px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    border-width: 0;
    opacity: 0.9;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-family: 'Playfair Display', sans-serif;
}

.textcon div button:active {
    background-color: #3D5A5B;
    opacity: 0.9;
    cursor: pointer;
}
